@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Hero Section */
#hero{
    background-image: url(assets/my-photo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    z-index: 2;
}

.top{
    margin-top: 14em;
}

#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white;
    animation: text_move 5s ease;
}

#hero h2{
    font-weight: 500;
    display: block;
    width: fit-content;
    position: relative;
    font-size: 2rem;
    color: white;
    margin-bottom: .5em;
}

#hero p{
    color: white;
    font-size: 1.2rem;
    text-align: justify;
}

/* Hero Section */

/* Portfolio Section */

#Portfolio .portfolio{
    background-color: rgba(245, 250, 250, 0.952);
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin-top: auto;
}

.section-title{
   /* margin-top: -6em;*/
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2em;
}


#Portfolio .portfolio-top p{
    font-size: 1.2rem;
    margin-top: 5px;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
    margin-bottom: 4em;
}

.mid-title{
    margin-top: -1em;
    width: auto;
    font-size: 2em;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: rgb(5, 2, 34);
    margin-bottom: 1em;
}

.portfolio-bottom{
    display: grid;
    grid-template-columns: 100%;
    column-gap: 1em;    
    margin-top: 2em;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1rem;
    font-weight: Bold;
}

.box{
    border-radius: 3em;
    box-shadow: 5px 5px 10px 5px #888888;
    transition: .5s ease box-shadow;
}

.box:hover{
    box-shadow: 0px 0px 10px #888888 ;
}

#Portfolio .portfolio-bottom p{
    font-family: 'Poppins';
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 5px;
    line-height: 2.5rem;
    margin-bottom: 4em;
}
/* End Portfolio Section */

/* Contact Section */

.contact-title{
    margin-top: 1em;
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1em;   
}

#Contact .contact{
    background-color: rgba(245, 250, 250, 0.952);
    flex-direction: column;
    max-width: 1500px;
    margin: 0 auto;
}

#Contact .contact-items{
    width: 400px;
}

#Contact .contact-item{
    background-color: white;
    width: 70%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 4rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px #888888;
    transition: .3s ease box-shadow;
}

#Contact .contact-item:hover{
    box-shadow: 0px 0px 4px #888888;
}

#Contact .icon{
    width: 2em;
    margin: 0 auto;
    margin-right: 8rem;
}


#Contact .contact-item h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2.5px;
}

#Contact .contact-item p{
    font-size: 1rem;
    font-weight: 400;
}

.contact-form{
    background-color: rgba(245, 250, 250, 0.952);
    padding: 5em;
}
.contact-form h1{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1em;
}
label {
    display: block;
    font-size: 1.8em;
    margin-bottom: 0.2em;
}

input,
textarea {
    font-size: 1.5em;
    width: 100%;
    padding: 0.8em;
    margin-bottom: 1.2em;
    border-radius: 0.3em;
    border: 1px solid gray;
    box-sizing: border-box;
}

.message-cta{
    background-color: rgba(41, 22, 212, 0.89);
    color: white;
    font-size: 1.5em;
    border: none;
    border-radius: 5em;
    padding: 0.8em 2em;
    width: 50%;
    cursor: pointer;
    margin-left: 6em;
    box-shadow: 0px 0px 18px #888888;
    transition: .3s ease box-shadow;
}

.message-cta:hover{
    box-shadow: 2px 2px 5px #888888 ;
    font-weight: bold;
}

footer{
    bottom: px;
    width: 100%;
    color: white;
    background: rgba(83, 58, 4, 0.856);
}

.main-content{
    display: flex;
}

.main-content {
    flex-basis: 50%;
    padding: 5.5em;
}

.left-box h2{
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

.left-box .content{
    margin: .5em 2em 2em 0em;
}

.content p{
    font-size: 1.2rem;
}
.social{
    margin-top: 1.5em;
}
/* Contact Section */


/* Blog Section*/
#blog .blog{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#blog .all-blogs{
    display: flex;
    align-items: center;
    justify-content: center;
}

#blog .blog-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
}

#blog .blog-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
    display: block;
    align-items: flex-start;
    flex-direction: column;
    text-align: justify;
}
/* Blog Section*/

/*Site Report*/
#report .report{
    background-color: rgba(245, 250, 250, 0.952);
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin-top: auto;
}

.heading h1{
    /* margin-top: -6em;*/
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.heading p{
    font-size: 1.8rem;
    letter-spacing: none;
}

.main-report{
    background-color: aqua;
    display: flex;
    align-items: flex-end;

}


/*End of Site Report*/

/* key frames */

@keyframes text_move{

    25%{
        letter-spacing: 5px;
    }

    75%{
        letter-spacing: 0px;
    }
}

/* End key frames */


@media screen and (min-width: 767px){
    #hero h1{
        font-size: 4.2rem;
    }
    
    #hero h2{
        font-size: 2.4rem;
    }
    
    #hero p{
        font-size: 1.3rem;
        display: grid;
        grid-template-columns: 38em auto;
        text-align: justify;
    }

    .section-title{
        margin-top: 1.2em;
        font-size: 4rem;
        font-weight: 600;
    }

    .portfolio-bottom{
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 1em;    
        margin-top: 2em;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 1rem;
        font-weight: Bold;
    }

    #Contact .contact-items{
        display: block;
        margin-right: 40%;
    }

    .contact-form{
        margin-top: -50.5rem;
        margin-left: 70rem;
        margin-bottom: 2em;
        background-color: #5249d893;
        width: 35%;
        height: 35%;
        border-radius: 2em;
    }

    .contact-form h1{
        font-size: 2.5rem;
        font-weight: 400;
        margin-top: -1.5em;
    }
    label {
        display: block;
        font-size: 1.8em;
        margin-bottom: 0.2em;
        margin-top: -1em;
    }
    
    input,
    textarea {
        font-size: 1.5em;
        width: 80%;
        padding: 0.8em;
        margin-bottom: 1.2em;
        border-radius: 0.3em;
        border: 1px solid gray;
        box-sizing: border-box;
    }
    .message-cta{
        margin-right: 10em;
    }

    .main-content {
        width: 50%;
        margin-left: 21em;
    }

    .content p{
        grid-template-columns: 38em auto;
        text-align: justify;
    }

    .left-box h2{
        font-size: 3rem;
        font-weight: 500;
    }
    

}

@media screen and (min-width: 990px){
    #hero h1{
        font-size: 4.5rem;
    }
    
    #hero h2{
        font-size: 2.6rem;
    }
    
    #hero p{
        font-size: 1.4rem;
    }
    .portfolio{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: .2rem;
    }
}

@media screen and (min-width: 1200px){
    .portfolio-bottom div{
        margin: 2em;
    }
    .box{
        width: 50%;
        height: 50%;
    }
}

